
body{
    font-family: 'monospace', sans-serif;
    background: #132f4c;
}
.loginContainer{
    background: #001e3c;
    position: absolute;
    width: 48ch;
    height: 54ch;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    z-index: 2;
    border: solid #1e4976 1px;
    border-radius: 5px;
    text-align: center;
}
.loginContainer h1{
    color: #FFFFFF
}

input[name=submit]{
    border: 0;
    border-radius: 5px; 
    background: #fa565a;
    width: 50%;
    height: 2.5ch;
    font-size: 16pt;
    box-sizing: content-box;
}
form[action="login.php"] input{
    width: 50%;
}